body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #f5f5f5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hamburger Menu Icon */
.hamburger {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

/* Hide the Menu by Default */
#menu.hidden {
    display: none;
}

/* Show the Menu when Active */
#menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

#menu ul li {
    margin: 10px 0;
}

#menu ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.5rem;
}

#menu ul li a:hover {
    color: #66b0ff;
    text-decoration: underline;
}

/* Style for when the hamburger menu is opened */
.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(180deg, #007aff, #5856d6, #ff2d55, #ff9500, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 0 20px;
    text-align: center;
    background-size: 300% 300%;
    animation: gradientShift 5s ease infinite;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 15px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.5);
}

h1:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.7),  /* Increased glow */
        0 0 20px rgba(255, 255, 255, 0.7),
        0 0 30px rgba(255, 255, 255, 0.7),
        0 0 40px rgba(255, 255, 255, 0.7),
        0 0 50px rgba(255, 255, 255, 0.7);  /* More intense glow */
    transition: text-shadow 0.3s ease-in-out; /* Smooth transition */
}

@keyframes gradientShift {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@keyframes GradientShiftRotated {
    0% {
        background-position: 9% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
    color: #f5f5f5;
}

p {
    font-size: 1rem;
    color: #cccccc;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 
                0 0 20px rgba(255, 255, 255, 0.5), 
                0 0 30px rgba(255, 255, 255, 0.5);
    animation: glow 1s ease-in-out forwards;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
    }
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #007aff, #5856d6, #ff2d55, #ff9500, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientShiftRotated 1s ease infinite;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 15px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.5);
}

.price {
    font-weight: bold;
    color: #28a745;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.card p {
    color: #cccccc;
    font-size: 1rem;
}

.examples {
    font-weight: bold;
    font-size: 1.1rem;
    color: #66b0ff;
    margin-top: 10px;
}

.card p.examples::before {
    content: "Examples";
    font-size: 1rem;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

a {
    font-size: 1rem;
    color: #66b0ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    animation: glowUp 0.5s ease-in-out forwards;
}

@keyframes glowUp {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 5px #66b0ff, 0 0 10px #66b0ff, 0 0 15px #66b0ff;
    }
}

.contact {
    font-size: 1rem;
    color: #cccccc;
    margin-bottom: 80px;
    text-align: center;
}

.footer {
    font-size: 0.9rem;
    color: #888888;
    text-align: center;
    padding: 20px 0;
    background-color: #1a1a1a;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

@media (max-width: 1024px) {
    .card {
        width: 100%;
    }
}
